<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	<head>
		<title>TP5 - Beneficios</title>
		<meta charset="utf-8"/>
		<meta name="author" content="Maxwell"/>
	</head>
	<body>
		<header>
			<h1>Beneficios</h1>
			<br/>
			<img src="../static/images/beneficios.png" width="300" height="150" alt="Imagen del head" title="beneficios">
		</header>
		<header th:replace="layouts/header::header"></header>
		<br/>
		
		<section>
			<p>Página en construcción</p>
		</section>
		
		<footer th:replace="layouts/footer::footer"></footer>
		
	</body>
</html>