<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	<head>
		<title>TP5 - Inicio</title>
		<meta charset="utf-8"/>
		<meta name="author" content="Maxwell"/>
	</head>
	<body>
		<header>
			<h1>TITULO</h1>
			<br/>
			<img src="/src/main/resources/static/images/cursos.jpg" width="300" height="200" alt="Imagen del punto 1" title="presentacion">
		</header>
		<header th:replace="layouts/header::header"></header>
		<br/>
		<section>
			<h1>Cursos con inscripcion abierta</h1>
			<ol>
				<li><a href="idiomas.html">Idiomas</a></li>
				<li><a href="">Diseño</a></li>
				<li><a href="">Desarrollo</a></li>
				<li><a href="">Marketing</a></li>
				<li><a href="">Conferencias</a></li>
			</ol>
		</section>
		<footer th:replace="layouts/footer::footer"></footer>
	</body>
</html>
